# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
choice NRF_MODEM_LIB_TRACE_MEDIUM
	prompt "nRF modem trace medium"
	default NRF_MODEM_LIB_TRACE_MEDIUM_UART

config NRF_MODEM_LIB_TRACE_MEDIUM_UART
	bool "Send modem trace over UARTE1"
	# Modem tracing over UART use the UARTE1 as a dedicated peripheral.
	# This enables the UARTE1 peripheral and includes nrfx UARTE driver.
	select NRFX_UARTE1
	# TF-M use UARTE1 as log output, to avoid a conflict disable logging
	# in TF-M.
	select TFM_LOG_LEVEL_SILENCE if BUILD_WITH_TFM

config NRF_MODEM_LIB_TRACE_MEDIUM_RTT
	bool "Send modem trace over SEGGER RTT"
	select USE_SEGGER_RTT

endchoice # NRF_MODEM_LIB_TRACE_MEDIUM

if NRF_MODEM_LIB_TRACE_MEDIUM_RTT

config NRF_MODEM_LIB_TRACE_MEDIUM_RTT_BUF_SIZE
	int "Size of the buffer used by the RTT to write traces"
	default 255

endif # NRF_MODEM_LIB_TRACE_MEDIUM_RTT
